html {
    font-size: 1vh;
}

body {
    --background-color: white;
    --main-color: black;
    --second-color: lightgrey;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--main-color);
    width: 100vw;
    height: 100vh;
    font-size: 12rem;
    margin: 0;
}

.RomanClock {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}

.RomanClock__Container {
    text-align: center;
    max-width: 80%;
}

.RomanClock__Logo {
    height: 1.5rem;
}

.RomanClock__Logo svg {
    position: relative;
    height: 3rem;
    width: 3rem;
    bottom: 9.5rem;
    background: var(--background-color);
    fill: var(--second-color);
    padding: 0 1rem;
}

.RomanClock__Details {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    border: .2rem solid var(--second-color);
    padding: 4rem;
}

.RomanClock__DayOrNight {
    width: 12rem;
    height: 12rem;
    margin: 1rem;
}

.RomanClock__DayOrNight--day {
    background-image: url("8666699_sun_icon.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.RomanClock__DayOrNight--night {
    background-image: url("9025743_moon_icon.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.RomanClock__LocalTime, .RomanClock__MinuteLength, .RomanClock__Version {
    color: var(--second-color);
}

.RomanClock__LocalTime, .RomanClock__MinuteLength, .RomanClock__Notification {
    font-size: 4rem;
}

.RomanClock__LocalTime, .RomanClock__MinuteLength, .RomanClock__Notification, .RomanClock__Version {
    text-align: center;
}

.RomanClock__Version {
    font-size: 2rem;
}

@media (prefers-color-scheme: dark) {
    body {
        --background-color: black;
        --main-color: white;
        --second-color: #333;
    }
    .RomanClock__DayOrNight--day {
        background-image: url("8666699_sun_icon-white.svg");
    }
    .RomanClock__DayOrNight--night {
        background-image: url("9025743_moon_icon-white.svg");
    }
}
