html {
    font-size: 1vh;
}

body {
    --background-color: white;
    --main-color: black;
    --second-color: lightgrey;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--second-color);
    width: 100vw;
    height: 100vh;
    font-size: 3rem;
    margin: 0;
    user-select: none;
}

.RomanSunclock {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    perspective: 100rem;
    transform-style: preserve-3d;
}

.RomanSunclock__Container--front {
    transform: rotateY(0);
}

.RomanSunclock__Container--back {
    transform: rotateY(180deg);
}

.RomanSunclock--flipped .RomanSunclock__Container--front {
    transform: rotateY(-180deg);
}

.RomanSunclock--flipped .RomanSunclock__Container--back {
    transform: rotateY(0);
}

.RomanSunclock__Container {
    text-align: center;
    backface-visibility: hidden;
    border: .2rem solid var(--second-color);
    padding: 4rem;
    min-height: 48rem;
    width: min(80vw, 34rem);
    position: absolute;
    transition: transform 1s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.RomanSunclock__Logo {
    height: 1.5rem;
    position: absolute;
    bottom: -9.75rem;
    width: calc(100% - 8rem);
}

.RomanSunclock__Logo svg {
    position: relative;
    height: 3rem;
    width: 3rem;
    bottom: 9.5rem;
    background: var(--background-color);
    fill: var(--second-color);
    padding: 0 1rem;
}

.RomanSunclock__Details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

:not(.RomanSunclock--loading) .RomanSunclock__LoadingDetails {
    display: none;
}

.RomanSunclock--loading .RomanSunclock__Details {
    display: none;
}

.RomanSunclock__DayOrNight {
    width: 12rem;
    height: 12rem;
    margin: 1rem;
}

.RomanSunclock__DayOrNight--day {
    background-image: url("8666699_sun_icon.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.RomanSunclock__DayOrNight--night {
    background-image: url("9025743_moon_icon.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.RomanSunclock__Time {
    color: var(--main-color);
    font-size: 12rem;
}

.RomanSunclock__Canvas {
    margin: 2rem 0 1rem 0;
}

.RomanSunclock__LocationDetails {
    display: flex;
    flex-direction: column;
}

.RomanSunclock__Version {
    font-size: 2rem;
    text-align: center;
}

.RomanSunclock__Version a {
    text-decoration: none;
    color: inherit;
}

@media (prefers-color-scheme: dark) {
    body {
        --background-color: black;
        --main-color: white;
        --second-color: #333;
    }

    .RomanSunclock__DayOrNight--day {
        background-image: url("8666699_sun_icon-white.svg");
    }

    .RomanSunclock__DayOrNight--night {
        background-image: url("9025743_moon_icon-white.svg");
    }
}
